:root {
  --color-primary: rgb(209, 204, 197);
}

@font-face {
  font-family: BDScript;
  src: url(/fonts/BDScript-Regular.otf);
}

html, body {
  margin: 0;
  overflow-x: hidden;
  max-width: 100%;
}

section {
  height: 100vh;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: BDScript;
  color: black;
  font-size: 100px;
  font-weight: 200;
  margin-top: -7rem;
  margin-bottom: 0;
  line-height: 5rem;
}

h2 {
  color: black;
  font-family: BDScript;
  font-weight: 400;
  font-size: 120px;
  margin: 0;
  line-height: 50px;
}

/* LOGO BANNER */
.logo-banner {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-banner_content-wrapper {
  max-width: 550px;
}

.logo-banner_content-wrapper_logo {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  bottom: 5rem;
}

/* MISSION STATEMENT */
.mission-statement {
  display: grid;
  grid-template-columns: 275px 1fr 1fr;
  gap: 2rem;
  padding-top: 2rem;
  width: 100%;
  position: relative;
}

.mission-statement_image-wrapper {
  height: 90%;
  position: relative;
}

.mission-statement_image-wrapper > img {
  height: 100%;
  position: absolute;
  right: 0;
}

.mission-statement_content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 515px) {
  .mission-statement_content-wrapper {
    position: absolute;
    background: white;
    padding: 1rem;
    width: 75%;
    right: 0;
    top: 25%;
  }

  .mission-statement_accent_img-wrapper {
    display: none;
  }
}

.mission-statement_accent {
  height: 100%;
  position: relative;
}

.mission-statement_accent_bg {
  width: 100%;
  height: 90%;
  background-color: var(--color-primary);
  position: absolute;
  left: 200px;
}

.mission-statement_accent_img-wrapper {
  height: 60%;
  position: absolute;
  top: 19%;
  left: -125px;
}

.mission-statement_accent_img-wrapper > img {
  height: 100%;
}